* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background-image: url(../images/wallpaper.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: top !important;
}

button {
	border: none;
	cursor: pointer;
	background: none;
}

input {
	outline: none;
	border: none;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.screen {
	z-index: 20;
	padding: 5px;
	background: #dde5f7;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.windows {
	cursor: pointer;
}

.weather {
	gap: 5px;
}

.weather h5 {
	color: #4a4e51;
}

.weather h6 {
	color: #767c81;
}

.menu {
	gap: 10px;
}

.menu img {
	max-width: 30px;
}

.search {
	width: 100%;
	height: 100%;
}

.search input {
	width: 100%;
	height: 100%;
	padding: 5px;
	padding-left: 15px;
	border-radius: 10px;
}

.items {
	justify-content: center;
	list-style: none;
	gap: 10px;
}

.items img {
	cursor: pointer;
}

.items i {
	cursor: pointer;
	font-size: 28px;
	color: #ffac1a;
}

.notification {
	gap: 8px;
}

.clock {
	flex-direction: column;
}

.clock span {
	font-size: 12px;
}

.menu__bar {
	position: fixed;
	width: 100%;
	max-width: 450px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #dde5f7;
	padding: 20px;
	display: none;
	flex-direction: column;
	/* animation-name: menu;
	animation-duration: 1s; */
	gap: 20px;
}

/* @keyframes menu {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
} */

.show {
	display: flex;
}

.header {
	margin-bottom: 20px;
}

.header h4 {
	font-weight: 500;
}

.header button {
	background: #fff;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 2px 5px 2px 5px;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}

.main div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
	gap: 5px;
}

.main div img {
	height: 30px;
}

.main div h5 {
	font-size: 12px;
	font-weight: 500;
}

.user div {
	justify-content: center;
	gap: 5px;
}

.user div h5 {
	font-weight: 500;
}

.circle {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #9499a5;
}

.user button {
	cursor: no-drop;
}

.files {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 30px;
}

.file {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	gap: 5px;
}

.file div h5 {
	font-size: 13px;
	font-weight: 500;
}

.file div p {
	color: #71757e;
	font-size: 12px;
}
